<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="..\static\css\about_us_web.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="index.html">
            <img loading="lazy" src="../static/img/dark logo.png" alt="evoluzn logo" height="50" alt="Logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#lookIntoSection">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="about_us_web.html">About Us </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blogs_web.html">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="get_in_touch_web.html">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="banner pt-5">
        <img loading="lazy" src="..\static\img\web_banner.png" alt="Banner Image" class="img-fluid">
    </div>

    <div class="container info-section">
        <div class="row">
            <div class="col-12">
                <div class="what-we-do">
                    <img loading="lazy" src="..\static\img\what we do.png" alt="What We Do">
                    <div class="w3-animate-left text-content">
                        <h1>What We Do?</h1>
                        <p>Evoluzn Inc was established in 2012 in Illinois, USA, focusing on wireless broadband devices,
                            including 5G, 4G, and 3G routers. Renowned for producing high-quality, reliable products,
                            Evoluzn Inc leverages cutting-edge technology and innovative engineering to enhance
                            connectivity and user experience.</p>
                        <p>In 2019, Evoluzn India Private Limited was founded as a fully owned subsidiary to expand the
                            company's reach in the Internet of Things (IoT) sector. This subsidiary specializes in the
                            Research, Development, and Manufacturing of IoT devices essential for Home, Office, and
                            Industrial automation. The creation of Evoluzn India highlights the company's dedication to
                            driving innovation and offering state-of-the-art solutions to a global market.</p>
                        <p>By combining the expertise of both entities, Evoluzn Inc and Evoluzn India aim to provide
                            comprehensive, high-quality technological solutions, continually pushing the boundaries of
                            technology to create a more connected and automated world.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="our-vision">
                    <div class="w3-animate-right text-content">
                        <h2>Our Vision</h2>
                        <p>To be the leading force in IoT automation, transforming everyday environments into
                            intelligent, responsive, and efficient ecosystems. We aim to enhance quality of life, drive
                            global innovation, and create sustainable, smart solutions that empower businesses and
                            individuals alike.</p>
                    </div>
                    <img loading="lazy" class="center-image" src="..\static\img\Our vision.png" alt="Our Vision">
                </div>
            </div>
            <div class="col-12">
                <div class="our-mission">
                    <img loading="lazy" src="..\static\img\Our mission.png" alt="Our Mission">
                    <div class="w3-animate-left text-content">
                        <h3>Our Mission</h3>
                        <p>Our mission is to deliver advanced IoT automation solutions that integrate seamlessly into
                            diverse industries, enhancing productivity, sustainability, and user experiences. We are
                            committed to innovation, quality, and customer satisfaction, ensuring our technology
                            empowers businesses and individuals to thrive in a connected world.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!-- footer start -->
  <section data-aos="fade-up" data-aos-duration="2000">
    <footer class="footer_div pb-2">

        <div class="row">
            <div class="col-md-2">
                <div class="landingpage_footer_div2">
                    <a href="index.html"><img loading="lazy" class="landingpage_footer_img_logo" src="../static/img/evoluznlogo_white.png" alt="Evoluzn Logo"></a>
                    <div class="landingpage_footer_div2">
                        <p class="mt-reduced landingpage_footer_description">
                            <span class="headline-bold">&#x2713; EVOLVE the Existing</span><br>
                            <span class="headline-bold">&#x2713; Add Measurable VALUE</span><br>
                            <span class="headline-bold"> &#x2713; Create a Zen Experience</span><br>
                        </p>
                    </div>
                    <div class="landingpage_footer_socialmedia_div">
                        <a href="https://www.facebook.com/profile.php?id=100064628276057&mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer">
                            <img loading="lazy" src="../static/img/Facebook.png" alt="Facebook">
                        </a>
                        <!-- <a href="https://twitter.com/yourhandle" target="_blank" rel="noopener noreferrer">
                            <img loading="lazy" src="../static/img/Twitter.png" alt="Twitter">
                        </a> -->
                        <a href="https://www.instagram.com/evoluznindia?igsh=bGQwdTQ5NjhocGJi" target="_blank" rel="noopener noreferrer">
                            <img loading="lazy" src="../static/img/Instagram.png" alt="Instagram">
                        </a>
                        <a href="https://www.linkedin.com/company/evoluzn-india-pvt-ltd/" target="_blank" rel="noopener noreferrer">
                            <img loading="lazy" src="../static/img/LinkedIn.png" alt="LinkedIn">
                        </a>
                        <a href="https://www.youtube.com/channel/yourchannel" target="_blank" rel="noopener noreferrer">
                            <img loading="lazy" src="../static/img/YouTube.png" alt="YouTube">
                        </a>
                    </div>   
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="landingpage_footer_div2">
                    <h5 class="landingpage_footer_product_title">Product</h5>
                    <div class="py-3 landingpage_footer_product_options">
                        <a class="landingpage_footer_options" href="index.html#lookIntoSection"><div>Features</div></a>
                    </div>
                </div>
            </div>
        
            <div class="col-md-2">
                <div class="landingpage_footer_div2">
                    <h5 class="landingpage_footer_product_title">Company</h5>
                    <div class="py-3 landingpage_footer_product_options">
                        <a class="landingpage_footer_options" href="about_us_web.html"><div>About Us</div></a>
                        <a class="landingpage_footer_options" href="get_in_touch_web.html"><div>Contact</div></a>
                        <a class="landingpage_footer_options" href="blogs_web.html"><div>Blog</div></a>
                    </div>
                </div>
            </div>
        
            <div class="col-md-2">
                <div class="landingpage_footer_div2">
                    <h5 class="landingpage_footer_product_title">Support</h5>
                    <div class="py-3 landingpage_footer_product_options">
                        <a class="landingpage_footer_options" href="get_in_touch_web.html"><div>Help center</div></a>
                        <a class="landingpage_footer_options" href="get_in_touch_web.html"><div>Chat support</div></a>
                    </div>
                </div>
            </div>
        
            <div class="col-md-2">
                <div class="landingpage_footer_div2">
                    <h5 class="landingpage_footer_product_title">Contact us</h5>
                    <div class="py-3 landingpage_footer_product_options">
                        <a class="landingpage_footer_options">
                            <div class="landingpage_footer_contactus_main_div">
                                <img loading="lazy" class="landingpage_footer_contactus_icon" src="../static/img/Email.png" alt="Email">
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=sales@evoluzn.in" style="color: inherit; text-decoration: none;" target="_blank">
                                    <div>sales@evoluzn.in</div>
                                </a>
                            </div>
                        </a>
                        <a class="landingpage_footer_options">
                            <div class="landingpage_footer_contactus_main_div">
                                <img loading="lazy" class="landingpage_footer_contactus_icon" src="../static/img/Phone.png" alt="Phone">
                                <div>+91 9154990641</div>
                            </div>
                        </a>
                        <a class="landingpage_footer_options" 
                        href="https://maps.app.goo.gl/GgGMzK5JLzvPZV82A" 
                        target="_blank" 
                        rel="noopener noreferrer">
                       <div class="landingpage_footer_contactus_main_div">
                         <img loading="lazy" class="landingpage_footer_contactus_icon" 
                              src="../static/img/location.png" alt="Location">
                         <div>
                           Block No. 102 First Floor Pramila Apartment, <br>
                           Plot no.15, Khamla Road Above Khamla Automobiles, <br>
                           Nagpur- 440025, Maharashtra, India.
                         </div>
                       </div>
                     </a>
                    </div>
                </div>
                
            </div>
        </div>
        

        <div class="px-3">
            <hr class="landingpage_footer_coptright_line">
            <div class="landingpage_footer_coptright_line2">
                <p>Copyright © 2024</p>
                <p>All Rights Reserved &nbsp;| Terms and Conditions &nbsp;| Privacy Policy</p>
            </div>
        </div>

    </footer>
</section>
<!-- footer end -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.nav-link').on('click', function () {
                $('.nav-link').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
</body>

</html>