<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="..\static\css\blogs_web.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="index.html">
            <img loading="lazy" src="../static/img/dark logo.png" alt="evoluzn logo" height="50" alt="Logo" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#lookIntoSection">Product</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="about_us_web.html">About Us </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="blogs_web.html">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="get_in_touch_web.html">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

    
    <div class="container mt-5">
        <div class="title">
            <div class="blogs_title">Blogs</div>
        </div>
        <div class="row">
            <div class="w3-container w3-animate-left-slow col-lg-4 col-md-6 mb-4 card-column">
                <div class="hi_bay_light_img">
                    <div class="hi_bay_light_box">
                        <img loading="lazy" src="../static/img/How IoT Automation is Transforming Industrial Operations.png" class="img-fluid mx-auto d-block" alt="Centered Image">
                    </div>
                    <div class="hi_bay_light">
                        <h4 class="hi_bay_light_title">IoT transforms industrial efficiency</h4>
                        <p class="hi_bay_light_content">The rapid advancement of Internet of Things (IoT) technology is revolutionizing industrial operations, ushering in a new era of efficiency 
                           </p>
                            <div class="hi_bay_light_button_container">
                                <a href="transforming_industrial_operations.html" class="read-more-link">
                                <div class="btn-container gps-tracker-btn">
                                    <button class="read-more-1">
                                        <span class="text">Read More</span>
                                        <div class="icon-container">
                                            <div class="icon icon--left">
                                                <svg>
                                                    <use xlink:href="#arrow-right"></use>
                                                </svg>
                                            </div>
                                            <div class="icon icon--right">
                                                <svg>
                                                    <use xlink:href="#arrow-right"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </a>
                            </div>    
                        </div>
                    </div>
                </div>


            <div class="w3-container w3-animate-opacity-slow col-lg-4 col-md-6 mb-4 card-column">
                <div class="gps_tracker_img">
                    <div class="gps_tracker-box">
                        <img loading="lazy" src="../static/img/Integrating IoT and AI for Smarter Manufacturing.png" class="img-fluid mx-auto d-block" alt="Centered Image">
                    </div>
                    <div class="gps_tracker" style="padding-top: 5vh;">
                        <h4 class="gps_tracker-title">The Future of Industrial Automation</h4>
                        <p class="gps_tracker_content">As the manufacturing sector evolves, the integration of Internet of Things (IoT) and Artificial Intelligence (AI) is setting the stage for a new era of smart, 
                            automated production.</p>
                            <div class="hi_bay_light_button_container">
                                <a href="future_of_iot.html" class="read-more-link">
                                    <div class="btn-container gps-tracker-btn">
                                        <button class="read-more-2">
                                            <span class="text">Read More</span>
                                            <div class="icon-container">
                                                <div class="icon icon--left">
                                                    <svg>
                                                        <use xlink:href="#arrow-right"></use>
                                                    </svg>
                                                </div>
                                                <div class="icon icon--right">
                                                    <svg>
                                                        <use xlink:href="#arrow-right"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <svg style="display: none;">
                    <symbol id="arrow-right" viewBox="0 0 20 10">
                      <path d="M14.84 0l-1.08 1.06 3.3 3.2H0v1.49h17.05l-3.3 3.2L14.84 10 20 5l-5.16-5z"></path>
                    </symbol>
                  </svg>


            <div class="col-lg-4 col-md-12 mb-4 box-container">
                <div class="w3-container w3-animate-top-slow box">
                    <div class="product_3">
                        <h4 class="product_3_title">Top 5 IoT benefits in IoT automation</h4>
                        <p class="product_3_content"> The integration of Internet of Things (IoT) solutions in industrial automation is reshaping how industries operate, offering 
                            transformative benefits...</p>
                        <a href="benefits_of_automation.html" class="redirect-arrow">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>


                <div class="w3-container w3-animate-right box">
                    <div class="product_4">
                        <h5 class="product_4_title">Industrial IoT drives Industry 4.0.</h5>
                        <p class="product_4_content"> The Fourth Industrial Revolution, or Industry 4.0, represents a paradigm shift in manufacturing</p>
                        <a href="industry_4.0.html" class="redirect-arrow">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>


                <div class="w3-container w3-animate-bottom-custom box">
                    <div class="product_5">
                        <h5 class="product_5_title">Embedded Sensors Boost Safety in Industrial IoT</h5>
                        <p class="product_5_content">  In the rapidly advancing realm of Industrial Internet of Things (IIoT), embedded sensors play a
                            crucial role in enhancing safety...</p>
                        <a href="embedded_sensors.html" class="redirect-arrow">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>

            </div>    
        </div>
    </div>



        <!-- footer start -->
        <section data-aos="fade-up" data-aos-duration="2000">
            <footer class="footer_div pb-2">
        
                <div class="row">
                    <div class="col-md-2">
                        <div class="landingpage_footer_div2">
                            <a href="index.html"><img loading="lazy" class="landingpage_footer_img_logo" src="../static/img/evoluznlogo_white.png" alt="Evoluzn Logo"></a>
                            <div class="landingpage_footer_div2">
                                <p class="mt-reduced landingpage_footer_description">
                                    <span class="headline-bold">&#x2713; EVOLVE the Existing</span><br>
                                    <span class="headline-bold">&#x2713; Add Measurable VALUE</span><br>
                                    <span class="headline-bold"> &#x2713; Create a Zen Experience</span><br>
                                </p>
                            </div>
                            <div class="landingpage_footer_socialmedia_div">
                                <a href="https://www.facebook.com/profile.php?id=100064628276057&mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer">
                                    <img loading="lazy" src="../static/img/Facebook.png" alt="Facebook">
                                </a>
                                <!-- <a href="https://twitter.com/yourhandle" target="_blank" rel="noopener noreferrer">
                                    <img loading="lazy" src="../static/img/Twitter.png" alt="Twitter">
                                </a> -->
                                <a href="https://www.instagram.com/evoluznindia?igsh=bGQwdTQ5NjhocGJi" target="_blank" rel="noopener noreferrer">
                                    <img loading="lazy" src="../static/img/Instagram.png" alt="Instagram">
                                </a>
                                <a href="https://www.linkedin.com/company/evoluzn-india-pvt-ltd/" target="_blank" rel="noopener noreferrer">
                                    <img loading="lazy" src="../static/img/LinkedIn.png" alt="LinkedIn">
                                </a>
                                <a href="https://www.youtube.com/channel/yourchannel" target="_blank" rel="noopener noreferrer">
                                    <img loading="lazy" src="../static/img/YouTube.png" alt="YouTube">
                                </a>
                            </div>   
                        </div>
                    </div>
                    

                    <div class="col-md-2">
                        <div class="landingpage_footer_div2">
                            <h5 class="landingpage_footer_product_title">Product</h5>
                            <div class="py-3 landingpage_footer_product_options">
                                <a class="landingpage_footer_options" href="index.html#lookIntoSection"><div>Features</div></a>
                            </div>
                        </div>
                    </div>
                

                    <div class="col-md-2">
                        <div class="landingpage_footer_div2">
                            <h5 class="landingpage_footer_product_title">Company</h5>
                            <div class="py-3 landingpage_footer_product_options">
                                <a class="landingpage_footer_options" href="about_us_web.html"><div>About Us</div></a>
                                <a class="landingpage_footer_options" href="get_in_touch_web.html"><div>Contact</div></a>
                                <a class="landingpage_footer_options" href="blogs_web.html"><div>Blog</div></a>
                            </div>
                        </div>
                    </div>
                

                    <div class="col-md-2">
                        <div class="landingpage_footer_div2">
                            <h5 class="landingpage_footer_product_title">Support</h5>
                            <div class="py-3 landingpage_footer_product_options">
                              <a class="landingpage_footer_options" href="get_in_touch_web.html"><div>Help center</div></a>
                              <a class="landingpage_footer_options"  href="get_in_touch_web.html"><div>Chat support</div></a>
                          </div>
                        </div>
                    </div>
                

                    <div class="col-md-2">
                        <div class="landingpage_footer_div2">
                            <h5 class="landingpage_footer_product_title">Contact us</h5>
                            <div class="py-3 landingpage_footer_product_options">
                                <!-- <a class="landingpage_footer_options">
                                    <div class="landingpage_footer_contactus_main_div">
                                        <img loading="lazy" class="landingpage_footer_contactus_icon" src="../static/img/Email.png" alt="Email">
                                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=sales@evoluzn.in" style="color: inherit; text-decoration: none;" target="_blank">
                                            <div>sales@evoluzn.in</div>
                                        </a>
                                    </div>
                                </a> -->
                            
                                <a class="landingpage_footer_options" 
                                    href="https://mail.google.com/mail/?view=cm&fs=1&to=sales@evoluzn.in" 
                                    target="_blank" 
                                    rel="noopener noreferrer">
                                <div class="landingpage_footer_contactus_main_div">
                                    <div>
                                        <img loading="lazy" class="landingpage_footer_contactus_icon" src="../static/img/Email.png" alt="Email">
                                        sales@evoluzn.in
                                    </div>
                                </div>
                                </a>

                                <a class="landingpage_footer_options">
                                    <div class="landingpage_footer_contactus_main_div">
                                        <img loading="lazy" class="landingpage_footer_contactus_icon" src="../static/img/Phone.png" alt="Phone">
                                        +91 9154990641
                                    </div>
                                </a>
                                <a class="landingpage_footer_options" 
                                    href="https://maps.app.goo.gl/GgGMzK5JLzvPZV82A" 
                                    target="_blank" 
                                    rel="noopener noreferrer">
                                <div class="landingpage_footer_contactus_main_div">
                                    <div>
                                        <img loading="lazy" class="landingpage_footer_contactus_icon" src="../static/img/location.png" alt="Location">
                                        Block No. 102 First Floor Pramila Apartment, 
                                        Plot no.15, Khamla Road Above Khamla Automobiles, 
                                        Nagpur- 440025, Maharashtra, India.
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
        
                <div class="px-3">
                    <hr class="landingpage_footer_coptright_line">
                    <div class="landingpage_footer_coptright_line2">
                        <p>Copyright © 2024</p>
                        <p>All Rights Reserved &nbsp;| Terms and Conditions &nbsp;| Privacy Policy</p>
                    </div>
                </div>
        
            </footer>
        </section>
<!-- footer end -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>