<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <link href="../static/css/style.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
    </style>

</head>

<body>
    <!-- footer start -->
    <section data-aos="fade-up" data-aos-duration="2000">
        <footer class="footer_div pt-5 pb-2">

            <div class="row">
                <div class="col-md-3">
                    <div class="landingpage_footer_div2">
                        <img class="landingpage_footer_img_logo" src="../static/img/evoluznlogo_white.png">
                        <p class=" mt-5">Lorem ipsum dolor sit amet consectetur <br> adipiscing elit aliquam</p>
                        <div class="landingpage_footer_socialmedia_div">
                            <a><img src="../static/img/Facebook.png"></a>
                            <a><img src="../static/img/Twitter.png"></a>
                            <a><img src="../static/img/Instagram.png"></a>
                            <a><img src="../static/img/LinkedIn.png"></a>
                            <a><img src="../static/img/YouTube.png"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="landingpage_footer_div2">
                        <h5 class="landingpage_footer_product_title">Product</h5>

                        <div class="py-3 landingpage_footer_product_options">
                            <a class="landingpage_footer_options">
                                <div>Features</div>
                            </a>
                            <a class="landingpage_footer_options">
                                <div>Pricing</div>
                            </a>
                            <a class="landingpage_footer_options">
                                <div>Case studies</div>
                            </a>
                            <a class="landingpage_footer_options">
                                <div>Reviews</div>
                            </a>
                            <a class="landingpage_footer_options">
                                <div>Updates</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="landingpage_footer_div2">
                        <h5 class="landingpage_footer_product_title">Company</h5>
                        <div class="py-3 landingpage_footer_product_options">
                            <a class="landingpage_footer_options">
                                <div>About</div>
                            </a>
                            <a class="landingpage_footer_options">
                                <div>Contact us</div>
                            </a>
                            <a class="landingpage_footer_options">
                                <div>Careers</div>
                            </a>
                            <a class="landingpage_footer_options">
                                <div>Culture</div>
                            </a>
                            <a class="landingpage_footer_options">
                                <div>Blog</div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="landingpage_footer_div2">
                        <h5 class="landingpage_footer_product_title">Contacts us</h5>
                        <div class="py-3 landingpage_footer_product_options">

                            <a class="landingpage_footer_options">
                                <div class="landingpage_footer_contactus_main_div">
                                    <img class="landingpage_footer_contactus_main_div_icon"
                                        src="../static/img/Email.png">
                                    <div>contact@company.com</div>
                                </div>
                            </a>
                            <a class="landingpage_footer_options">
                                <div class="landingpage_footer_contactus_main_div">
                                    <img class="landingpage_footer_contactus_main_div_icon"
                                        src="../static/img/Phone.png">
                                    <div>(414) 687 - 5892</div>
                                </div>
                            </a>
                            <a class="landingpage_footer_options">
                                <div class="landingpage_footer_contactus_main_div">
                                    <img class="landingpage_footer_contactus_main_div_icon2"
                                        src="../static/img/location.png">
                                    <div>794 Mcallister St
                                        San Francisco, 94102</div>
                                </div>  
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="px-3">
                <hr class="landingpage_footer_coptright_line">
                <div class="landingpage_footer_coptright_line2">
                    <p>Copyright © 2024 </p>
                    <p>All Rights Reserved &nbsp;| Terms and Conditions &nbsp;| Privacy Policy</p>
                </div>
            </div>

        </footer>
    </section>
    <!-- footer end -->
</body>

</html>