<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get in Touch</title>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="..\static\css\get_in_touch_web.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="index.html">
            <img loading="lazy" src="../static/img/dark logo.png" alt="evoluzn logo" height="50" alt="Logo" />
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#lookIntoSection">Product</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link " href="about_us_web.html">About Us </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blogs_web.html">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="get_in_touch_web.html">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">

        <h2 class="title text-left mb-4">Get in touch with us. <br> We're here to assist you.</h2>

        <div class="form_container mb-5">

            <form>

                <div class="form-row">

                    <div class="form-group col-md-12 col-lg-4">
                        <label for="name">Your Name</label>
                        <input type="text" class="form-control form-control-underline" id="name" name="name" required>
                    </div>

                    <div class="form-group col-md-12 col-lg-4">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control form-control-underline" id="email" name="email" required>
                    </div>

                    <div class="form-group col-md-12 col-lg-4">
                        <label for="phone">Phone Number</label>
                        <input type="tel" class="form-control form-control-underline" id="phone" name="phone" required>
                    </div>

                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control form-control-underline" id="message" name="message" rows="5" required></textarea>
                </div>

                <div class="container button-container">
                    <button class="btn">Inquire</button>
                </div>

            </form>

        </div>

        <div class="rectangle-box mb-5">

            <div class="contact-info">
                <p class="contact-info-heading">Contact Info</p>
                <p class="contact-info-description">We are always happy to assist you</p>
            </div>

            <div class="contact-details">

                <div class="contact-item">
                    <p class="underline"><strong>Email Address</strong></p>
                    <p class="contact-email">sales@evoluzn.in</p>
                </div>

                <div class="contact-item">
                    <p><strong>Web</strong></p>
                    <p class="contact-web">www.evoluzn.in</p>
                </div>

                <div class="contact-item">
                    <p><strong>Number</strong></p>
                    <p class="contact-number">+91 9154990641</p>
                </div>

            </div>

        </div>

        <div class="subscribe_container_rectangle_box mb-5">

            <div class="subscribe-info">
                <p class="subscribe_title"><strong>Subscribe to our Newsletter</strong></p>
                <p class="subscribe_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua.</p>
            </div>

            <div class="subscribe_form_container">

                <form class="subscribe-form">
                    <input type="email" class="subscribe-email" placeholder="Enter your email" required>
                    <button type="submit" class="subscribe-button">Send</button>
                </form>

            </div>

        </div>
    </div>
    
     <!-- footer start -->
     <section data-aos="fade-up" data-aos-duration="2000">
        <footer class="footer_div pb-2">
    
            <div class="row">
                <div class="col-md-2">
                    <div class="landingpage_footer_div2">
                        <a href="index.html"><img loading="lazy" class="landingpage_footer_img_logo" src="../static/img/evoluznlogo_white.png" alt="Evoluzn Logo"></a>
                        <div class="landingpage_footer_div2">
                            <p class="mt-reduced landingpage_footer_description">
                                <span class="headline-bold">&#x2713; EVOLVE the Existing</span><br>
                                <span class="headline-bold">&#x2713; Add Measurable VALUE</span><br>
                                <span class="headline-bold"> &#x2713; Create a Zen Experience</span><br>
                            </p>
                        </div>
                        <div class="landingpage_footer_socialmedia_div">
                            <a href="https://www.facebook.com/profile.php?id=100064628276057&mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer">
                                <img loading="lazy" src="../static/img/Facebook.png" alt="Facebook">
                            </a>
                            <!-- <a href="https://twitter.com/yourhandle" target="_blank" rel="noopener noreferrer">
                                <img loading="lazy" src="../static/img/Twitter.png" alt="Twitter">
                            </a> -->
                            <a href="https://www.instagram.com/evoluznindia?igsh=bGQwdTQ5NjhocGJi" target="_blank" rel="noopener noreferrer">
                                <img loading="lazy" src="../static/img/Instagram.png" alt="Instagram">
                            </a>
                            <a href="https://www.linkedin.com/company/evoluzn-india-pvt-ltd/" target="_blank" rel="noopener noreferrer">
                                <img loading="lazy" src="../static/img/LinkedIn.png" alt="LinkedIn">
                            </a>
                            <a href="https://www.youtube.com/channel/yourchannel" target="_blank" rel="noopener noreferrer">
                                <img loading="lazy" src="../static/img/YouTube.png" alt="YouTube">
                            </a>
                        </div>   
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="landingpage_footer_div2">
                        <h5 class="landingpage_footer_product_title">Product</h5>
                        <div class="py-3 landingpage_footer_product_options">
                            <a class="landingpage_footer_options" href="index.html#lookIntoSection"><div>Features</div></a>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-2">
                    <div class="landingpage_footer_div2">
                        <h5 class="landingpage_footer_product_title">Company</h5>
                        <div class="py-3 landingpage_footer_product_options">
                            <a class="landingpage_footer_options" href="about_us_web.html"><div>About Us</div></a>
                            <a class="landingpage_footer_options" href="get_in_touch_web.html"><div>Contact</div></a>
                            <a class="landingpage_footer_options" href="blogs_web.html"><div>Blog</div></a>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-2">
                    <div class="landingpage_footer_div2">
                        <h5 class="landingpage_footer_product_title">Support</h5>
                        <div class="py-3 landingpage_footer_product_options">
                          <a class="landingpage_footer_options" href="get_in_touch_web.html"><div>Help center</div></a>
                          <a class="landingpage_footer_options"  href="get_in_touch_web.html"><div>Chat support</div></a>
                      </div>
                    </div>
                </div>
            
                <div class="col-md-2">
                    <div class="landingpage_footer_div2">
                        <h5 class="landingpage_footer_product_title">Contact us</h5>
                        <div class="py-3 landingpage_footer_product_options">
                            <a class="landingpage_footer_options" 
                                    href="https://mail.google.com/mail/?view=cm&fs=1&to=sales@evoluzn.in" 
                                    target="_blank" 
                                    rel="noopener noreferrer">
                                <div class="landingpage_footer_contactus_main_div">
                                    <div>
                                        <img loading="lazy" class="landingpage_footer_contactus_icon" src="../static/img/Email.png" alt="Email">
                                        sales@evoluzn.in
                                    </div>
                                </div>
                                </a>

                                <a class="landingpage_footer_options">
                                    <div class="landingpage_footer_contactus_main_div">
                                        <img loading="lazy" class="landingpage_footer_contactus_icon" src="../static/img/Phone.png" alt="Phone">
                                        +91 9154990641
                                    </div>
                                </a>
                                <a class="landingpage_footer_options" 
                                    href="https://maps.app.goo.gl/GgGMzK5JLzvPZV82A" 
                                    target="_blank" 
                                    rel="noopener noreferrer">
                                <div class="landingpage_footer_contactus_main_div">
                                    <div>
                                        <img loading="lazy" class="landingpage_footer_contactus_icon" src="../static/img/location.png" alt="Location">
                                        Block No. 102 First Floor Pramila Apartment, 
                                        Plot no.15, Khamla Road Above Khamla Automobiles, 
                                        Nagpur- 440025, Maharashtra, India.
                                    </div>
                                </div>
                                </a>
                        </div>
                    </div>
                    
                </div>
            </div>
            
    
            <div class="px-3">
                <hr class="landingpage_footer_coptright_line">
                <div class="landingpage_footer_coptright_line2">
                    <p>Copyright © 2024</p>
                    <p>All Rights Reserved &nbsp;| Terms and Conditions &nbsp;| Privacy Policy</p>
                </div>
            </div>
    
        </footer>
    </section>
<!-- footer end -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.nav-link').on('click', function () {
                $('.nav-link').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
</body>

</html>
