<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Info new</title>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/products_page_web.css">
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="index.html">
            <img loading="lazy" src="../static/img/dark logo.png" alt="evoluzn logo" height="50" alt="Logo" />
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#lookIntoSection">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about_us_web.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./blogs_web.html">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./get_in_touch_web.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="container product-container">
        <div class="product-box ">
            <div class="product-image">
                <img loading="lazy" id="product_main_img_big" src="../static/images/high_bay_tilted_view.png" alt="Product Image"
                    class="responsive-image product_main_img_big">
            </div>
            <div class="small-boxes" id="products_images_small">
              
            </div>
        </div>
        <div class="product-info">
            <div class="feature">
                <h1 class="high_accuracy_title" id="product_img_title"></h1>
                <p id="product_img_description" class="high_accuracy_content"></p>
            </div>


            <div class="feature">
                <div class="productpage_key_feature_download_specification">
                    <h4 class="wide_frequency_title">Key Features:</h4>
                    <!-- <h5 class="wide_frequency_title" style="text-decoration: underline;">Download Specifications:</h5> -->
                </div>
                <br>
                <div class="productpage_key_feature_div">
                    <div class="productpage_key_feature">
                        <h5 class="productpage_key_feature_title" id="title_input_voltage"></h5>
                        <div class="productpage_key_feature_description" id="product_img_input_voltage_spec"></div>
                    </div>
                    <div class="productpage_key_feature">
                        <h5 class="productpage_key_feature_title" id="title_network"></h5>
                        <div class="productpage_key_feature_description" id="product_img_network"></div>
                    </div>
                    <div class="productpage_key_feature">
                        <h5 class="productpage_key_feature_title" id="title_input_current"></h5>
                        <div class="productpage_key_feature_description" id="product_img_input_current"></div>
                    </div>
                    <div class="productpage_key_feature">
                        <h5 class="productpage_key_feature_title" id="title_power_wattage"></h5>
                        <div class="productpage_key_feature_description" id="product_img_power_wattage"></div>
                    </div>
                </div>
                

                <div class="btn-container">
                    <a href="#" class="btn contact-button">Contact Us</a>
                </div>
            </div>
        </div>
    </div>


     <!-- footer start -->
     <section data-aos="fade-up" data-aos-duration="2000">
      <footer class="footer_div pb-2">
  
          <div class="row">
              <div class="col-md-2">
                  <div class="landingpage_footer_div2">
                    <a href="index.html"><img loading="lazy" class="landingpage_footer_img_logo" src="../static/img/evoluznlogo_white.png" alt="Evoluzn Logo"></a>
                      <div class="landingpage_footer_div2">
                          <p class="mt-reduced landingpage_footer_description">
                              <span class="headline-bold">&#x2713; EVOLVE the Existing</span><br>
                              <span class="headline-bold">&#x2713; Add Measurable VALUE</span><br>
                              <span class="headline-bold"> &#x2713; Create a Zen Experience</span><br>
                          </p>
                      </div>
                      <div class="landingpage_footer_socialmedia_div">
                          <a href="https://www.facebook.com/profile.php?id=100064628276057&mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer">
                              <img loading="lazy" src="../static/img/Facebook.png" alt="Facebook">
                          </a>
                          <!-- <a href="https://twitter.com/yourhandle" target="_blank" rel="noopener noreferrer">
                              <img loading="lazy" src="../static/img/Twitter.png" alt="Twitter">
                          </a> -->
                          <a href="https://www.instagram.com/evoluznindia?igsh=bGQwdTQ5NjhocGJi" target="_blank" rel="noopener noreferrer">
                              <img loading="lazy" src="../static/img/Instagram.png" alt="Instagram">
                          </a>
                          <a href="https://www.linkedin.com/company/evoluzn-india-pvt-ltd/" target="_blank" rel="noopener noreferrer">
                              <img loading="lazy" src="../static/img/LinkedIn.png" alt="LinkedIn">
                          </a>
                          <a href="https://www.youtube.com/channel/yourchannel" target="_blank" rel="noopener noreferrer">
                              <img loading="lazy" src="../static/img/YouTube.png" alt="YouTube">
                          </a>
                      </div>   
                  </div>
              </div>
              
              <div class="col-md-2">
                  <div class="landingpage_footer_div2">
                      <h5 class="landingpage_footer_product_title">Product</h5>
                      <div class="py-3 landingpage_footer_product_options">
                          <a class="landingpage_footer_options" href="index.html#lookIntoSection"><div>Features</div></a>
                      </div>
                  </div>
              </div>
          
              <div class="col-md-2">
                  <div class="landingpage_footer_div2">
                      <h5 class="landingpage_footer_product_title">Company</h5>
                      <div class="py-3 landingpage_footer_product_options">
                          <a class="landingpage_footer_options" href="about_us_web.html"><div>About Us</div></a>
                          <a class="landingpage_footer_options" href="get_in_touch_web.html"><div>Contact</div></a>
                          <a class="landingpage_footer_options" href="blogs_web.html"><div>Blog</div></a>
                      </div>
                  </div>
              </div>
          
              <div class="col-md-2">
                  <div class="landingpage_footer_div2">
                      <h5 class="landingpage_footer_product_title">Support</h5>
                      <div class="py-3 landingpage_footer_product_options">
                        <a class="landingpage_footer_options" href="get_in_touch_web.html"><div>Help center</div></a>
                        <a class="landingpage_footer_options"  href="get_in_touch_web.html"><div>Chat support</div></a>
                    </div>
                  </div>
              </div>
          
              <div class="col-md-2">
                  <div class="landingpage_footer_div2">
                      <h5 class="landingpage_footer_product_title">Contact us</h5>
                      <div class="py-3 landingpage_footer_product_options">
                          <a class="landingpage_footer_options">
                              <div class="landingpage_footer_contactus_main_div">
                                  <img loading="lazy" class="landingpage_footer_contactus_icon" src="../static/img/Email.png" alt="Email">
                                  <a href="https://mail.google.com/mail/?view=cm&fs=1&to=sales@evoluzn.in" style="color: inherit; text-decoration: none;" target="_blank">
                                      <div>sales@evoluzn.in</div>
                                  </a>
                              </div>
                          </a>
                          <a class="landingpage_footer_options">
                              <div class="landingpage_footer_contactus_main_div">
                                  <img loading="lazy" class="landingpage_footer_contactus_icon" src="../static/img/Phone.png" alt="Phone">
                                  <div>+91 9154990641</div>
                              </div>
                          </a>
                          <a class="landingpage_footer_options" href="https://maps.app.goo.gl/GgGMzK5JLzvPZV82A" target="_blank" rel="noopener noreferrer">
                            <div class="landingpage_footer_contactus_main_div"><img loading="lazy" class="landingpage_footer_contactus_icon" src="../static/img/location.png" alt="Location">
                              <div>
                                 Block No. 102 First Floor Pramila Apartment, <br>
                                 Plot no.15, Khamla Road Above Khamla Automobiles, <br>
                                 Nagpur- 440025, Maharashtra, India.
                              </div>
                            </div>
                          </a>
                      </div>
                  </div>
                  
              </div>
          </div>
          
  
          <div class="px-3">
              <hr class="landingpage_footer_coptright_line">
              <div class="landingpage_footer_coptright_line2">
                  <p>Copyright © 2024</p>
                  <p>All Rights Reserved &nbsp;| Terms and Conditions &nbsp;| Privacy Policy</p>
              </div>
          </div>
  
      </footer>
  </section>
<!-- footer end -->


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="../static/js/productspage.js"></script>

</body>

</html>